<div class="text-base flex flex-col w-11/12 md:w-9/12 lg:w-5/12 mx-auto mt-16 mb-24">
  <div class="text-2xl md:text-4xl text-center md:text-left font-bold border-b pb-4 w-full">プライバシーポリシー</div>
  <div class="mt-4">
    本ウェブサイトの管理者（以下，「管理者」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，お客様の個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
  </div>
  <div class="mt-6 text-xl font-bold">お客様から取得する情報</div>
  <div class="mt-2">
    <div class="mt-2">当社は、お客様から以下の情報を取得します。</div>
    <div class="ml-4">
      <div class="mt-2">・氏名（ニックネームやペンネーム含む）</div>
      <div class="mt-2">・メールアドレス</div>
      <div class="mt-2">・外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</div>
      <div class="mt-2">・Cookie（クッキー）を用いて生成された識別情報</div>
      <div class="mt-2">・本ウェブサイトの滞在時間、入力履歴等の本ウェブサイトにおけるお客様の行動履歴</div>
    </div>
  </div>
  <div class="mt-6 text-xl font-bold">個人情報の利用目的</div>
  <div class="mt-2">
    <div class="mt-2">本サービスは、お客様から取得した情報を利用する目的は以下のとおりです。</div>
    <div class="ml-4">
      <div class="mt-2">・本サービスに関する登録の受付、お客様の本人確認、認証のため</div>
      <div class="mt-2">・お客様の本サービスの利用履歴を管理するため</div>
      <div class="mt-2">・本サービスにおけるお客様の行動履歴を分析し、本サービスの維持改善に役立てるため</div>
      <div class="mt-2">・お客様からのお問い合わせに対応するため</div>
      <div class="mt-2">・本サービスの利用規約や法令に違反する行為に対応するため</div>
      <div class="mt-2">・本サービスの変更、提供中止、終了、契約解除を連絡するため</div>
      <div class="mt-2">・本サービス規約の変更等を通知するため</div>
      <div class="mt-2">・以上の他、管理者サービスの提供、維持、保護及び改善のため</div>
    </div>
  </div>
  <div class="mt-6 text-xl font-bold">第三者提供</div>
  <div class="mt-2">
    <div class="mt-2">当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第2条第6項）に該当するものについては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</div>
  </div>
  <div class="mt-6 text-xl font-bold">アクセス解析ツール</div>
  <div class="mt-2">
    <div class="mt-2">お客様からお預かりした個人情報を、個人情報保護法その他の法令に基づき開示が認められる場合を除き、お客様ご本人の同意を得ずに第三者に提供することはありません。</div>
  </div>
  <div class="mt-6 text-xl font-bold">プライバシーポリシーの変更</div>
  <div class="mt-2">プライバシーポリシーの内容を適宜見直し、その改善に努めます。</div>
  <div class="mt-2">内容の変更は、当サイトに掲載された時点で有効になるものとします。</div>
  <div class="mt-6 text-xl font-bold">お問合せ</div>
  <div class="mt-2">お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスにご連絡ください。</div>
  <div class="mt-2">tune.app0@gmail.com</div>
  <div class="mt-10 text-gray-500">2023年01月11日制定</div>
</div>