<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>なんでもいい飯メニュー</h1>
    <h4> 〜「何食べたい？」の答えを見つけよう〜 </h4>
    <%= link_to "ログイン", login_path, class: 'btn btn-danger' %>
    <%= link_to "新規ユーザー登録", new_user_path, class: 'btn btn-success' %>
    <div>
      <%= link_to "ユーザー登録なしで閲覧", menus_path, class: 'btn btn-secondary mt-4' %>
    </div>
  </div>
</div>