<div class="top-wrapper">
  <div class="top-inner-text">
    <h1 id = "sample">なんでもいい飯メニュー</h1>
    <%= link_to "ログイン", root_path, class: 'btn btn-success float-right' %>
    <%= link_to "新規登録", root_path, class: 'btn btn-success float-right' %>
    <div>
      <%= link_to "ゲストログイン", root_path, class: 'btn btn-success float-right' %>
    </div>
  </div>
</div>