<% assign_meta_tags title: (t '.title') %>
<div class="container pt-3 mb-5 mt-3">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 mb-5 border p-4 bg-light">
      <h1 class = "mb-4"><%= t('.title') %></h1>
      <%= render 'form', { menu: @menu } %>
    </div>
  </div>
</div>