<div class="container">
<h5>タグが<%=@tag.name%>の投稿一覧</h5>

<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        <%= render @menus %>
      </ul>
      <%= paginate @menus %>
    </div>
  </div>
</div>