<% assign_meta_tags title: (t '.title') %>
<div class="container pt-3 mb-5">
  <%= render partial: 'content_top', locals: {user: @user}  %>  

  <%= render partial: 'eats/eat', collection: @eat_menus %>
</div>