<% assign_meta_tags title: (t '.title') %>
<div class="container pt-3 mb-5">
  <%= render partial: 'content_top', locals: {user: @user}  %>
  
  <!-- 掲示板一覧 -->
    <div class="row mt-3">
      <div class="col-12">
        <div class="row">
          <% if @menus.present? %>
            <%= render partial: 'menus/menu', collection: @menus %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>
        </div>
        <!-- ページネーション -->
        <%= paginate @menus %>
      </div>
    </div>
</div>