<footer id='footer' class="footer-bottom border-top pt-3">
  <div class="container">
    <div class="copyright text-center mb-2">
      <%=link_to "利用規約", terms_path, class: "px-1 link-dark text-decoration-none" %>
      <%=link_to "プライバシーポリシー", privacy_path, class: "px-1 link-dark text-decoration-none" %>
      <%=link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLScWgYgIqBHQqAoqJikO76wCfv32vHGnITg0toIBTwhsGYfwIQ/viewform?usp=pp_url", class: "px-1 link-dark text-decoration-none" %>
    </div>
    <div class="copyright text-center">
      <p>Copyright © 2023. なんでもいい飯メニュー</p>
    </div>
  </div>
</footer>